
    <div id="layoutError">
      <div id="layoutError_content">
          <main>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-6">
                          <div class="text-center mt-4">
                              <img class="mb-4 img-error" src="../../../assets/error-404-monochrome.svg" />
                              <p class="lead">La pagina richiesta non è stata trovata nel server.</p>
                              <a href="/blog"><i class="fa fa-arrow-left"></i> Torna al Blog</a>
                          </div>
                      </div>
                  </div>
              </div>
          </main>
      </div>
  </div>