


<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
        <form (submit)="onSendSubmit()">
            <div class="card card-profile my-5">
          <div class="card-body">
            <div class="profile-item text-lg-center">
                <textarea [(ngModel)]="text" name="text" required class="form-control form-rounded" rows="10" placeholder="Inserisci qui il testo..."></textarea> 
                <br>
                <button class="btn btn-lg btn-primary btn-block text-uppercase">Invia</button>
                </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>