

    <body class="text-center">
        <form (submit)="onLoginSubmit()" class="form-signin">
          <img class="mb-4" src="../../../../assets/user.png" alt="" width="72" height="72">
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <br>
          <span>
            <a href="/sign-up">Non hai un account? Creane uno! -> </a>
        </span>
        </form>
      </body>

    




