 
  <!--       <div style="margin-top: 1rem;">
          <body class="text-center">
            <form (submit)="onRegisterSubmit()" class="form-signin">
              <img class="mb-4" src="../../../../assets/user.png" alt="" width="72" height="72">
              <input style="border-radius: 15px;border: 3px solid rgb(0, 163, 186);" type="text" class="form-control" placeholder="Nome e Cognome" [(ngModel)]="name" name="name">
              <br>
              <input style="border-radius: 15px;border: 3px solid rgb(0, 163, 186);" type="tel" class="form-control" placeholder="Telefono" [(ngModel)]="tel" name="tel">
              <br>
              <input style="border-radius: 15px;border: 3px solid rgb(0, 163, 186);" type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
              <br>
              <input style="border-radius: 15px;border: 3px solid rgb(0, 163, 186);" type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
              <br>
              <input type="radio" name="role" value="studente" [(ngModel)]="role"><span style=" font-size: larger; font-weight: bold; color: rgb(0, 163, 186);">
                Studente
              </span>  
              <input type="radio" name="role" value="psicologo" [(ngModel)]="role"><span style="font-size: larger; font-weight: bold; color: rgb(0, 163, 186);">
                Psicologo
              </span>
              <br>
              <br> 
              <button style="border-radius: 15px;border: 3px solid rgb(0, 163, 186);" class="btn btn-lg btn-info btn-block" type="submit">Registrati</button>
              <br>
              <span>
                <a style="color: rgb(0, 163, 186);" href="/login">Hai già un account? Effettua l'accesso! -> </a>
            </span>
            </form>
          </body>
        </div> -->
        
 




  <div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <form (submit)="onRegisterSubmit()" class="form-signin">
            <div class="form-label-group">
              <input type="text" id="inputUsername" class="form-control" placeholder="Nome e Cognome" [(ngModel)]="name" name="name" required autofocus>
              <label for="inputUsername">Nome e Cognome</label>
            </div>

            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required autofocus>
              <label for="inputEmail">Email</label>
            </div>

            <div class="form-label-group">
              <input type="tel" id="inputTel" class="form-control" placeholder="Telefono" [(ngModel)]="tel" name="tel" required autofocus>
              <label for="inputTel">Telefono</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
              <label for="inputPassword">Password</label>
            </div>

            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" name="role" value="studente" [(ngModel)]="role" id="studente" class="custom-control-input">
                <label class="custom-control-label" for="studente">Studente</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" name="role" value="psicologo" [(ngModel)]="role" id="psicologo" class="custom-control-input">
                <label class="custom-control-label" for="psicologo">Psicologo</label>
              </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrati</button>

            <div class="link">
              <a href="/login">Hai un account? Accedi</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>