/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ngx-toastr/toastr.css";

body, html{
    margin: 0;
    padding: 0;
}

.toast-top-right {
    top: 80px;
    right: 12px;
  }

.toast-container .ngx-toastr {
    border-radius: 15px;
}
