
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
        <div class="card card-profile my-5">
          <i id="icon" class="fa fa-pied-piper fa-5x text-primary"></i>
          <div class="card-body">
            <div class="profile-item">
              
                <ul class="text-center list-unstyled ml-4">
            
                    <li *ngIf="user.name">
                        <p><i class="fa fa-user-circle"></i> {{ user.name }}</p>
                    </li>
            
                    <li *ngIf="user.email">
                        <p><i class="fa fa-envelope"></i> {{ user.email }}</p>
                    </li>
            
                    <li *ngIf="user.tel">
                        <p><i class="fa fa-phone"></i> {{ user.tel }}</p>
                    </li>
            
                    <li *ngIf="user.role">
                        <p class="text-uppercase"><i class="fa fa-briefcase"></i> {{ user.role }}</p>
                    </li>
            
                  </ul>
              
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>

            



        
        
          


